.reveal { font-size: 32px; }
.reveal .slides { text-align: left; }
.reveal section { padding-top: 0.3em; }
.reveal h1 { font-size: 2.0em; }
.reveal h2 { font-size: 1.5em; }
.reveal ul { margin-top: 0.5em; }
.reveal li { margin-bottom: 0.25em; }
