.reveal {
    font-size: 40px;
}

.reveal h1 {
    font-size: 2.2em;
}
.reveal h2 {
    font-size: 1.6em;
}
.reveal h3 {
    font-size: 1.3em;
}

.reveal ul {
    margin-top: 0.6em;
}
.reveal li {
    margin-bottom: 0.35em;
}

.reveal pre code {
    font-size: 0.85em;
    line-height: 1.25em;
}

.reveal section {
    padding-top: 0.3em;
}
